.imgProduct {
  background-color: white;
  object-fit: cover;
  object-position: center;
  width: 70%;
   max-height: 150px; 
}
.imgCover{
  overflow: hidden;
}

/* Adapts a floating label for use with a left-handed input group icon */
.form-floating > .bi-calendar-date + .datepicker_input + label {
  padding-left: 3.5rem;
  z-index: 3;
}